{{ define "main" }}
<section class="mx-auto max-w-7xl w-full flex flex-col flex-grow py-8 px-4 lg:px-0" role="main">
  <div class="prose max-w-none w-full mx-auto">
    <h1>Scholarship Areas</h1>
    <div data-pagefind-ignore class="grid grid-cols-1 sm:grid-cols-2 gap-8 not-prose mb-auto">
      {{ range .Data.Terms.Alphabetical }}
      <div class="col-span-1 flex flex-col space-y-2 xl:space-y-0 xl:flex-row xl:space-x-4 justify-between items-start xl:items-center xl:border-b xl:pb-2">
        <h2 class="text-2xl font-bold whitespace-nowrap">{{ .Page.Title | humanize | title }}</h2>
        <a href="{{ .Page.Permalink }}" class="btn text-center whitespace-nowrap">View {{ .Count }} {{ if eq .Count 1 }}Scholarship{{else}}Scholarships{{end}}</a>
      </div>
      {{ end }}
    </div>
  </div>
  </main>
  {{ end }}