<div data-pagefind-ignore class="p-4 shadow bg-slate-100 rounded-lg m-0 sm:m-4 sticky top-4">
    <div class="mb-4">
        <h3 class="text-lg text-asfpurple font-bold">Recent News</h3>
        {{ partial "section_list" (dict "first" 5 "after" 0 "sidebar" true "context" (where site.RegularPages
        "Section" "news")) }}
    </div>
    <div class="mb-4">
        <div class="mb-4">
            <h3 class="text-lg text-asfpurple font-bold mb-2">Categories</h3>
            <ul class="pl-4">
                <li>
                    <a name="category" class="uppercase" href="/news">All News</a>
                </li>
                {{ range $key, $value := site.Taxonomies.categories }}
                <li>
                    <a href="/categories/{{ $key }}">{{- replace ($key | upper) "-" " " -}}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div>
            <h3 class="text-lg text-asfpurple font-bold mb-2">Share this post</h3>
            <div class="flex flex-row space-x-2 pl-4">
                <a href="http://www.facebook.com/sharer.php?u={{ page.Permalink }}&quote={{ page.Title }}" name="Facebook" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-blue-500 hover:text-white">
                    <i class="icon-facebook group-hover:scale-125"></i>
                </a>
                <a href="http://twitter.com/share?url={{ page.Permalink }}&text={{ page.Title }}&via=4Asf4Kids" name="X" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-md not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-black hover:text-white">
                    <span>𝕏</span>
                </a>
            </div>
        </div>
    </div>
</div>