{{ $num_cols := 1 }}
{{ if gt .num_cols 0 }}
{{$num_cols = (int .num_cols)}}
{{ else }}
{{ $num_cols = (len .columns) }}
{{ end }}
{{ $num_cols_class := ""}}
{{ $col_span_class := ""}}

{{ if eq $num_cols 2 }}
{{$num_cols_class = "lg:grid-cols-2"}}
{{ else if eq $num_cols 3 }}
{{$num_cols_class = "lg:grid-cols-3"}}
{{ else if eq $num_cols 4 }}
{{$num_cols_class = "lg:grid-cols-4"}}
{{ end }}

<section class="w-full clear-both py-8 px-4 2xl:px-0 grid grid-cols-1 gap-y-8 lg:gap-8 {{ $num_cols_class }} max-w-7xl mx-auto {{.sectionclass}}">
  {{ range .columns }}
  {{ if .col_span }}
  {{ if eq (int .col_span) 1 }}
  {{$col_span_class = "col-span-1"}}
  {{ else if eq (int .col_span) 2 }}
  {{$col_span_class = "col-span-1 lg:col-span-2"}}
  {{ else if eq (int .col_span) 3 }}
  {{$col_span_class = "col-span-1 lg:col-span-3"}}
  {{ else if eq (int .col_span) 4 }}
  {{$col_span_class = "col-span-1 lg:col-span-4"}}
  {{ else if gt (int .col_span) 4 }}
  {{$col_span_class = "col-span-1 lg:col-span-full"}}
  {{ end }}
  {{ end }}
  <div class="bg-no-repeat bg-cover {{$col_span_class}} space-y-8 {{ .divclass }}" {{ with .backgroundImage }} style="background-image: url(//images.weserv.nl/?url=www.anacortesschoolsfoundation.org{{ . }}&w=720);" {{ end }}>
    {{ range .column_components }}
    {{ partial "bookshop" . }}
    {{ end }}
  </div>
  {{ end }}
</section>