<section data-pagefind-ignore id="hero" class="py-36 bg-no-repeat bg-origin-border bg-cover bg-center bg-asfpurple" style="background-image: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org{{ .bannerImage }}')">
  <h1 class="text-3xl md:text-5xl text-white text-center tracking-wider font-bold uppercase mb-4 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
    {{ .title }}
  </h1>
  {{ if site.Params.env_bookshop_live }}
  <ol class="flex flex-row items-center justify-center space-x-2">
    <li class='group drop-shadow-[0_1px_1px_rgba(0,0,0,0.8)] text-white hover:text-asfpurple hover:drop-shadow-[0_1px_1px_rgba(255,255,255,0.8)] font-bold before:[content:"/"] first:before:[content:""] {{ if eq .p1 .p2 }}active{{ end }}'>
      <a class="text-white group-hover:text-asfpurple group-hover:drop-shadow-[0_1px_1px_rgba(255,255,255,0.8)] font-bold" href="#">Dynamic Breadcrumb for Page</a>
    </li>
  </ol>
  {{ else }}
    {{ partial "breadcrumb" page }}
  {{ end }}
</section>