{{ $num_cols := math.Ceil (div 12.0 (len .blocks)) }}
<section class="mx-auto max-w-3xl py-8 px-4 xl:px-0 lg:max-w-7xl">
  <div class="grid grid-cols-1 gap-y-8 lg:gap-y-0 lg:gap-16 lg:grid-cols-3">
    {{ range .blocks }}
    <div class="col-span-1 flex flex-col space-y-2 prose max-w-none">
      <h3 class="w-full pb-2 font-sans text-2xl text-gray-700 font-bold break-after-avoid
            {{ if .bottom_border }} border-b-2 border-asfpurple{{end}}">
        {{ .heading | safeHTML }}
      </h3>
      <div class="h-full flex-grow prose max-w-none">
        {{ .text | safeHTML }}
      </div>
    </div>
    {{ end }}
  </div>
</section>