{{ $datafile := index site.Data "dates-important" }}
<div data-pagefind-ignore class="p-4 shadow bg-slate-100 rounded-lg m-4 {{if .sticky}}sticky top-4{{end}}" data-pagefind-ignore>
    <h3 class="text-asfpurple text-2xl font-bold pb-2">Important Dates</h3>
    <div class="flex flex-wrap">
        {{ range sort $datafile.dates "date" }}
        {{ $show := (time .show) }}
        {{ $hide := (time .hide) }}
        {{ if and ($show.Before now) ($hide.After now) }}
        {{ if .url }}<a name="{{ .text }}" href="{{ .url }}">{{ end }}
            <div class="py-4 flex flex-row w-fit px-4">
                <img class="block shrink-0 rounded-full h-16 w-16" src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org{{ .image }}&w=64" alt="">
                <div class="pl-3">
                    <div class="flex flex-col">
                        <span class="text-black">
                            {{if .highlight}}⭐&nbsp;<strong>{{end}}
                                {{ .date | time.Format "January 2, 2006" }}
                                {{if .highlight}}</strong>{{end}}
                        </span>
                        <span class="text-ultraviolet">{{ .text }}</span>
                    </div>
                </div>
            </div>
            {{ if .url }}
        </a>{{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>