<section class="prose mx-auto px-4 lg:px-0 max-w-7xl clear-both {{with .sectionclass}}{{.}}{{end}}">
  {{with .title}}<h2 class="text-asfpurple">{{ . }}</h2>{{end}}
  {{ .content | markdownify }}
</section>