<section data-pagefind-ignore class="w-full max-w-7xl mx-auto clear-both py-8 px-4 2xl:px-0">
    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="{{.key}}" data-form="{{.number}}">
    </script>
</section>