<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body class="flex flex-col min-h-screen">
  {{ partial "header" . }}
  <main data-pagefind-body class="relative flex flex-col space-y-8 {{ .Params.mainclass }}">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer" . }}
</body>

</html>