{{ define "main" }}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<section class="mx-auto max-w-7xl w-full flex flex-col flex-grow py-8 px-4 lg:px-0" role="main">
  <div data-pagefind-ignore id="search_section"></div>
</section>

<script>
  // get value search parameter
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const searchString = urlParams.get("q");

  // initialize Pagefind UI
  window.addEventListener('DOMContentLoaded', (event) => {
    let pagefind = new PagefindUI({ element: "#search_section" });
    if (searchString) {
      pagefind.triggerSearch(searchString);
    }
  });

  // setting the focus into the generated INPUT field as it appears
  waitForElm(".pagefind-ui__search-input").then((elm) => {
    elm.focus();
  });  
</script>
{{ end }}