{{ define "main" }}
{{ partial "section-banner" . }}
<main class="w-full max-w-7xl mx-auto mb-5 pt-4" role="main">
  <article class="row" role="main">
    <div class="col-lg-12 col-md-12 mx-auto">
      <div class="row">
        <section>
          {{ .Content }}
        </section>
      </div>
    </div>
  </article>
</main>
{{ end }}