<section class="w-full max-w-7xl mx-auto clear-both py-8 2xl:px-0">
    <article role="main" class="flex flex-col space-y-4">
        <!-- Heading -->
        <div class="prose max-w-none">
            <h1 data-pagefind-meta="title">{{ page.Title }}</h1>
        </div>
        <!-- End Heading -->
        <!-- Meta Info -->
        <div class="text-sm text-gray-500 pb-4">
            <ul class="flex flex-col space-y-2 sm:flex-row sm:space-x-2 sm:space-y-0">
                <li class="whitespace-nowrap">
                    <i class="icon-calendar3"></i>
                    {{ page.Date.Format "January 2, 2006" -}}
                </li>
                <li class="hidden sm:inline-block">
                    &nbsp;⋮&nbsp;
                </li>
                <li>
                    <i class="icon-folder-open"></i>
                    {{ range $k , $v := page.GetTerms "categories" }}
                    {{ if $k }}&&nbsp;{{ end }}
                    <a class="whitespace-nowrap" href="/categories/{{ .LinkTitle | urlize }}">
                      {{ replace (.LinkTitle | upper) "-" " " }}
                    </a>
                    {{ end }}
                </li>
            </ul>
        </div>
        <!-- End Meta Info -->
        <!-- Featured Image, Description and Main Content -->
        <div class="prose max-w-none">
            {{if not .hide_featured }}
            <figure class="shrink-0 w-full sm:w-auto sm:float-left not-prose mr-8 mb-2">
                <a name="{{ page.Title }}" href="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org{{ page.Params.featuredImage }}" data-lightbox="image" title="{{ page.Title }}">
                    <img data-pagefind-meta="image[src], image_alt[alt]" src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org{{ page.Params.featuredImage }}&w=200" alt="{{ page.Title}}" class="rounded w-full sm:w-auto" width="200" loading="lazy">
                </a>
                {{ if page.Params.featuredPhotoCredit }}
                <figcaption class="text-xs text-right mb-0">
                    Photo by:
                    <a href="{{ page.Params.featuredPhotoWebsite }}" target="_blank" rel="noopener">
                        {{ page.Params.featuredPhotoCredit }}
                    </a>
                </figcaption>
                {{ end }}
            </figure>
            {{end}}
            <div>
                <span class="italic font-semibold">
                    {{ page.Description}}
                </span>
                <br>
                {{ markdownify .content }}
            </div>
        </div>
        <!-- End Featured Image, Description and Main Content -->
        {{ partial "bookshop" (slice "asf-divider" .) }}
        {{ partial "prevnext" page }}
    </article>
</section>