<div class="space-y-8">
  <h2 class="text-2xl font-bold text-asfpurple">
    {{.title}}
  </h2>
  {{ with .text }}
  <div class="prose max-w-none">
    {{ markdownify . }}
  </div>
  {{ end }}
  <dl class="space-y-2 text-gray-900">
    {{ range .faqs }}
    <div x-data="{ open: false }">
      <dt class="bg-ultraviolet text-white rounded-md flex items-center justify-between cursor-pointer select-none p-3" @click="open = !open">
        <button class="select-text font-medium flex flex-row items-center">
          <i class="icon-question-sign pr-4 shrink-0"></i>
          <span class="text-left pr-2">
            {{markdownify .q}}
          </span>
        </button>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-100 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path x-show="!open" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
          <path x-show="open" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </dt>
      <dd style="display: none;" class="border mt-1 p-3 prose max-w-none" x-show="open" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform" x-transition:enter-end="opacity-100 transform" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform" x-transition:leave-end="opacity-0 transform">
        {{ markdownify .a }}
      </dd>
    </div>
    {{end}}
  </dl>
</div>