<div data-pagefind-ignore class="py-4 bg-lessmoody text-white">
    <p class="text-center">
        {{- .text -}}
        {{- if .url -}}
        <a href="{{ .url }}" class="ml-2" style="color: silver;" target="_blank" rel="nooopener">
            {{- .link_text }}&nbsp;<i class="icon-caret-right"></i>
        </a>
        {{- end -}}
    </p>
</div>