<ol class="flex flex-row items-center justify-center space-x-2">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
{{ end }}
<li class='group drop-shadow-[0_1px_1px_rgba(0,0,0,0.8)] text-white hover:text-asfpurple hover:drop-shadow-[0_1px_1px_rgba(255,255,255,0.8)] font-bold before:[content:"/"] first:before:[content:""] {{ if eq .p1 .p2 }}active{{ end }}'>
  <a class="text-white group-hover:text-asfpurple group-hover:drop-shadow-[0_1px_1px_rgba(255,255,255,0.8)] font-bold" href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
</li>
{{ end }}