<footer data-pagefind-ignore id="footer" class="text-white text-left p-4 w-full mt-auto bg-slate-950">
  <div class="w-full max-w-7xl mx-auto clear-both py-8 px-4 2xl:px-0 flex flex-col space-y-8 md:flex-row md:space-x-8 md:space-y-0">
    <div class="flex flex-col w-full">
      <div class="flex flex-col lg:flex-row lg:space-x-16">
        <div class="shrink-0">
          <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/images/footer-logo-dark.png" alt="Anacortes Schools Foundation">
        </div>
        <div class="prose max-w-none text-white">
          <p>Our Mission: Empower and inspire Anacortes students through scholarships and
            enriched learning opportunities.
          </p>
          <p>Our Vision: ASF builds relationships with donors who want to make a difference in
            our schools. Through funding and program support, we focus on helping the whole student thrive and
            achieve their highest potential.</p>
        </div>
      </div>
      <hr class="h-0.5 my-8 bg-white border-0">
      <div class="flex flex-col space-y-8 lg:flex-row lg:space-x-16 lg:space-y-0">
        <div>
          <h4 class="text-lg font-bold pb-2">Social</h4>
          {{ partialCached "social" "dark" }}
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h4 class="text-lg font-bold pb-2">Contact Us</h4>
          <div class="whitespace-nowrap"></div>
            Email: president@asfkids.org</p>
          </div>
        </div>
        <div>
          <p>Thank you for supporting Anacortes students and helping us fund STEM
            enrichment programs, Mental Health, Visual and Performing Arts programs, ASF's annual Ready to
            Learn Fair, Impact Summer School, Preschool Scholarships, and MORE!</p>
        </div>
      </div>
    </div>
    <div class="flex w-auto flex-col justify-start items-center space-y-8 sm:w-full sm:flex-row sm:space-y-0 sm:justify-between md:w-auto md:flex-col md:justify-start md:space-y-8">
      <a name="Guidestar" class="block shrink-0" href="https://www.guidestar.org/profile/91-1263495" target="_blank" rel="noopener">
        <img class="shrink-0" src="https://widgets.guidestar.org/gximage2?o=8316301&l=v4" loading="lazy" alt="Guidestar Gold Transparency Seal" />
      </a>
      <a name="NAEF" class="block shrink-0" href="https://www.educationfoundations.org/" target="_blank" rel="noopener">
        <img class="block shrink-0" src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/NAEF_PrimaryLogo_Color-inv.png&w=175" />
      </a>
      <a name="Netlify" class="block" href="https://www.netlify.com" target="_blank" rel="noopener">
        <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" loading="lazy" alt="Deploys by Netlify" />
      </a>
    </div>
  </div>
  <div class="text-center mb-2">
    &copy; {{ now.Year }} All rights reserved | <a name="Privacy Policy" href="/privacy">Privacy Policy</a>
  </div>
</footer><!-- #footer end -->