<header data-pagefind-ignore id="header" x-data="{ mobileOpen: false }" class="relative block text-left px-4 xl:px-0 bg-white border-b border-solid border-zinc-100">
  <div class="my-2 max-w-7xl mx-auto flex relative flex-wrap lg:flex-row justify-between items-center" x-breakpoint="
      if($isBreakpoint('sm+')) mobileOpen = true
      if($isBreakpoint('sm-')) mobileOpen = false
    ">
    <!-- Social -->
    <div id="social" class="order-3 sm:order-1 flex flex-row shrink-0 relative justify-start items-center space-x-1">
      <a href="https://www.facebook.com/asfkids/" name="Facebook" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-blue-500 hover:text-white">
        <i class="icon-facebook group-hover:scale-125"></i>
      </a>
      <a href="https://twitter.com/Asf4Kids" name="X" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-black hover:text-white">
        <span>𝕏</span>
      </a>
      <a href="https://instagram.com/Asf4Kids" name="Instagram" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-purple-700 hover:text-white">
        <i class="icon-instagram group-hover:scale-125"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCQtqAkG9i4xrJbmwWz7AFYQ" name="Youtube" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-red-600 hover:text-white">
        <i class="icon-youtube group-hover:scale-125"></i>
      </a>
    </div>
    <!-- #social end -->
    <!-- Logo -->
    <a name="Home" href="/" class="cursor-pointer block flex-shrink-0 order-2 pr-2 sm:pr-0">
      <img class="h-12 lg:h-16" src="/uploads/images/logo.png" alt="Anacortes Schools Foundation Logo">
    </a>
    <!-- #logo end -->
    <!-- CTA -->
    <div id="cta" class="order-2">
      <a href="/giving" class="btn px-4 py-2 rounded">
        Donate
      </a>
    </div>
    <!-- #cta end -->
  </div>
  <div class="flex flex-col lg:flex-row justify-between max-w-7xl mx-auto z-[100000] sticky top-0 w-full border-t border-solid border-neutral-100">
    <div class="order-1 lg:order-2 flex flex-row justify-between items-center mt-2 md:mt-0">
      <!-- Search -->
      <form id="search" class="flex flex-row w-full lg:mt-0 lg:w-auto" action="/search" method="get">
        <input type="search" name="q" placeholder="Search" aria-label="Search" class="block overflow-visible relative flex-auto py-1 px-3 m-0 min-w-0 h-10 text-base font-normal leading-normal bg-clip-padding rounded-sm border border-gray-300 border-solid appearance-none cursor-text text-zinc-700 focus:border-neutral-400 focus:text-zinc-700" />
        <button type="submit" class="icon-line-search block overflow-visible relative py-1 px-3 m-0 h-10 text-base not-italic text-center text-gray-500 normal-case align-middle rounded rounded-l-none border border-gray-500 border-solid cursor-pointer select-none hover:border-gray-500 hover:bg-gray-500 hover:text-white">
        </button>
      </form>
      <!-- Menu Trigger -->
      <div id="menu-trigger" @click="mobileOpen = ! mobileOpen" class="flex justify-center items-center cursor-pointer pointer-events-auto md:hidden text-black p-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
      <!-- #menu-trigger end -->
    </div>
    <div id="menu" class="order-2 lg:order-1">
      {{ partial "nav" . }}
    </div>
  </div>
  <!-- Gala background 
    <section class="min-vh-20 min-vh-md-100 dark"
        style="overflow: hidden; background: url('/uploads/home.jpg') no-repeat center center; background-size: cover; background-attachment: fixed;">-->
  <!--<section class="min-vh-20 min-vh-md-100 dark" style="background-color: #6ab4e4;">
        <div class="pt-2 col-md-12 text-center"><h3 style="color: white;">Coming soon: </h3>
            <a href="/programs/holiday-fair-2021/"><img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/Holiday_Fair_Logo.png&w=400" style="width: 400; padding-bottom: 20px;"
              alt="Celebrate the Season Holiday Fair"></a>
        </div>-->
  <!--<div class="p-4" style="text-align: center;">
          <a href="https://event.auctria.com/d9037b4b-812a-4c22-bc98-1b5b581b4468/?fbclid=IwAR3qOdWRh5AwZnHv8fPd56Ru7g1Aig4aV0j1Qwh8aeq0ld9DGKO8W35iNaM" target="_blank" rel="noopener"
              class="button button-3d button-rounded button-amber">Shop the Silent Auction</a>
      </div>
    </section>-->
</header>