<nav data-pagefind-ignore class="relative w-full flex flex-col items-start lg:flex-row lg:items-center lg:justify-between">
  <ul x-show="mobileOpen" x-transition.origin.top x-transition:enter.duration.300ms x-transition:leave.duration.0ms x-transition.scale class="flex flex-col md:flex-row md:order-1 items-start w-full md:w-auto md:space-x-4 lg:space-x-8" style="display: none;">
    {{ $currentPage := . }}
    {{ $soonURL := .Site.Params.soonURL }}
    {{ $soonText := .Site.Params.soonText }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li id="{{ .Name | lower | urlize }}" class='w-full md:w-auto relative list-none last:pb-2 last:md:pb-0 {{ if $currentPage.HasMenuCurrent "main" . }} current {{ end }}' x-data="{ open: false }">
      <!-- Dropdown Menu Button -->
      <button type="button" @click="open = !open" class="w-full md:w-auto justify-end transition-all origin-left md:duration-300 border-transparent group inline-flex items-center py-2 md:py-5 font-sans text-sm font-bold tracking-wider leading-5 uppercase whitespace-nowrap md:border-t-2 hover:border-asfpurple border-solid cursor-pointer outline-none focus:outline-none focus:ring-none">
        <span class="group-hover:text-gray-900">{{ .Name }}</span>
        <svg class="ml-2 h-5 w-5 group-hover:text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
      <!-- Dropdown Menu -->
      <ul x-show="open" @click.outside="open = false" x-transition.origin.top x-transition:enter.duration.300ms x-transition:leave.duration.0ms class="md:absolute bg-white border-r-2 md:border-t-2 md:border-r-0 border-ultraviolet py-2 px-4 mb-4" style="display: none;">
        {{ range .Children }}
        <li class="text-right md:text-left group hover:bg-slate-100">
          <a class='block p-2 font-sans text-sm font-bold tracking-normal leading-5 uppercase whitespace-nowrap outline-none cursor-pointer lg:font-bold {{ if $currentPage.IsMenuCurrent "main" . }}current{{ end }}' href="{{ .URL }}">
            <div class="pr-2 group-hover:pl-2 group-hover:pr-0 transition-all">
              {{ .Name }}
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ else }}
    <li class='pr-2 pt-2 md:pt-0 md:pr-0 relative w-full text-right md:text-left {{ if $currentPage.HasMenuCurrent " main" . }}current{{ end }}'>
      <a class="w-full md:w-auto justify-end transition-all origin-left duration-500 border-transparent group inline-flex items-center py-2 md:py-5 font-sans text-sm font-bold tracking-wider leading-5 uppercase whitespace-nowrap md:border-t-2 hover:border-asfpurple border-solid cursor-pointer outline-none focus:outline-none focus:ring-none" href="{{ .URL }}">
        <div>{{ .Name }}</div>
      </a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>