<div class="pb-6">
  <div class="flex flex-col">
    <div class="w-full prose">
      <h1 class="text-asfpurple">All News</h1>
    </div>
    <div data-pagefind-ignore class="flex items-center lg:hidden">
      <div x-data="{
              open: false,
              toggle() {
                  if (this.open) {
                      return this.close()
                  }
                  this.$refs.button.focus()
                  this.open = true
              },
              close(focusAfter) {
                  if (! this.open) return
                  this.open = false
                  focusAfter && focusAfter.focus()
              }
          }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']" class="relative">
        <!-- Button -->
        <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')" type="button" class="flex items-center gap-2 bg-asfpurple text-white px-5 py-2.5 mt-2 rounded-md shadow">
          News Categories

          <!-- Heroicon: chevron-down -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>

        <!-- Panel -->
        <div x-ref="panel" x-show="open" x-transition.origin.top.left x-on:click.outside="close($refs.button)" :id="$id('dropdown-button')" style="display: none;" class="absolute left-0 mt-2 w-auto rounded-md bg-white shadow-md">
          <a href="/news" class="uppercase flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
            All News
          </a>
          {{ $current := . }}
          {{ range $key, $value := site.Taxonomies.categories }}
          {{ $active := in $current.RelPermalink $key }}
          <a class="flex items-center whitespace-nowrap gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500" href="/categories/{{ $key }}">
            {{ replace ($key | upper) "-" " " }}
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <article class="flex flex-row space-x-4">
    <div>
      <div class="mt-4">
        <div class="prose max-w-none">
          <h2 class="text-asfpurple my-0 mb-2">Featured News</h2>
        </div>
        {{ range first 3 (where (where site.Pages "Section" "news" ) "Params.featured" "==" true )}}
        {{ partial "widgets/highlights-card" . }}
        {{ end }}
      </div>

      {{ partial "bookshop" "asf-divider" }}

      <div class="pt-4">
        <div class="prose max-w-none">
          <h2 id="all" class="text-asfpurple my-0 mb-2">All News</h2>
        </div>

        {{ $paginator := .Paginate (where (.Paginator 6).Pages "Params.featured" "!=" true) }}

        {{ range $paginator.Pages }}
        {{ partial "widgets/card-news" . }}
        {{ end }}

        <div>
          {{ partial "pagination" . }}
        </div>
      </div>
    </div>
    <div class="hidden relative lg:block px-4 pt-6">
      <div class="hidden lg:flex lg:flex-col lg:sticky lg:top-8">
        <div class="prose max-w-none">
          <h3 class="text-asfpurple">News Categories:</h3>
        </div>
        <div>
          <ul class="px-4">
            <li>
              <a name="all-news-category" class='uppercase {{ if (in .RelPermalink "news") }}active{{ end }}' href="/news">All News</a>
            </li>
            {{ $current := . }}
            {{ range $key, $value := site.Taxonomies.categories }}
            {{ $active := in $current.RelPermalink $key }}
            <li>
              <a name="all-news-dropdown" class="whitespace-nowrap {{ if $active }}active{{ end }}" href="/categories/{{ $key }}">{{ replace ($key | upper) "-" " " }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </article>
</div>