<div data-pagefind-ignore class="flex flex-row justify-between w-full">
  {{ $pages := where (where .Site.RegularPages "Section" .Section) "Params.scholarship" "==" true }}

  {{ with $pages.Next . }}
  <a href="{{ .Permalink | relURL}}" class="btn flex flex-row items-center rounded uppercase text-sm"><i class="icon-circle-arrow-left"></i>&nbsp;Previous</a>
  {{ end }}

  {{ with $pages.Prev . }}
  <a href="{{ .Permalink | relURL}}" class="btn flex flex-row items-center rounded uppercase text-sm">Next&nbsp;<i class="icon-circle-arrow-right"></i></a>
  {{ end }}
</div>