<div data-pagefind-ignore class="flex flex-row justify-between w-full">
    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.Permalink | relURL}}" class="btn flex flex-row items-center rounded uppercase text-sm">
        <i class="icon-circle-arrow-left"></i>&nbsp;Previous
    </a>
    {{ end }}

    {{ if .NextInSection }}
    <a href="{{.NextInSection.Permalink  | relURL}}" class="btn flex flex-row items-center rounded uppercase text-sm">
        Next&nbsp;<i class="icon-circle-arrow-right"></i>
    </a>
    {{ end }}
</div>