<!-- Social -->
<div data-pagefind-ignore id="social" class="flex flex-row shrink-0 relative justify-start items-center space-x-1">
  <a href="https://www.facebook.com/asfkids/" name="Facebook" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-blue-500 hover:text-white">
    <i class="icon-facebook group-hover:scale-125"></i>
  </a>
  <a href="https://twitter.com/Asf4Kids" name="X" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-black hover:text-white">
    <span>𝕏</span>
  </a>
  <a href="https://instagram.com/Asf4Kids" name="Instagram" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-purple-700 hover:text-white">
    <i class="icon-instagram group-hover:scale-125"></i>
  </a>
  <a href="https://www.youtube.com/channel/UCQtqAkG9i4xrJbmwWz7AFYQ" name="Youtube" target="_blank" rel="noopener" class="group rounded-full flex flex-col items-center justify-center no-underline w-8 h-8 text-sm not-italic font-bold text-white border border-transparent border-solid cursor-pointer bg-neutral-700 hover:border-transparent hover:bg-red-600 hover:text-white">
    <i class="icon-youtube group-hover:scale-125"></i>
  </a>
</div>
<!-- #social end -->