{{ $num_cols := 1 }}
{{ if gt (len .stats) 1 }}
{{ $num_cols = (len .stats) }}
{{ end }}
{{ $num_cols_class := ""}}
{{ $col_span_class := ""}}

{{ if eq $num_cols 2 }}
{{$num_cols_class = "lg:grid-cols-2"}}
{{ else if eq $num_cols 3 }}
{{$num_cols_class = "lg:grid-cols-3"}}
{{ else if ge $num_cols 4 }}
{{$num_cols_class = "lg:grid-cols-4"}}
{{ end }}

<section id="stats" x-data="{ shown: false }" x-intersect.full="shown = true" class="w-full max-w-7xl mx-auto py-8 grid grid-cols-1 {{$num_cols_class}} gap-10">
    {{ range .stats }}
    <div x-show="shown" class="animated {{.animation}} group text-center w-full max-w-sm mx-auto col-span-1" style="display: none;">
        <i class="icon-{{ .icon }} text-5xl mx-auto text-asfpurple group-hover:scale-110"></i>
        <div class="text-asfpurple text-4xl font-black py-4 group-hover:scale-110">
            {{ with .prefix }}{{ . -}}{{ end -}}
            <span x-data="animation({{ .valueStart }}{{with .countdown}},{{.}}{{end}})" x-init="animate({{ .valueStart }}, {{ .valueEnd }}, {{ .refreshInterval }}, {{ .duration }})" {{ if .nosep }} x-text="counter" {{ else }} x-text="counter.toLocaleString()" {{ end }}>
                {{ .valueStart }}
            </span>
            {{with .suffix }}{{ . -}}{{end}}
        </div>
        <p>{{ .text | safeHTML }}</p>
    </div>
    {{ end }}
</section>

<script>
    function animation(valueInitial, countdown) {
        if (countdown) {
            return {
                counter: valueInitial || 0,
                animate(valueStart, valueEnd, interval, duration) {
                    let step = Math.floor((valueStart - valueEnd) / (duration / interval))
                    let timer = setInterval(() => {
                        if ((this.counter - step) <= valueEnd) {
                            this.counter = valueEnd
                            clearInterval(timer);
                            timer = null;
                            return;
                        } else {
                            this.counter = this.counter - step;
                        }
                    }, interval);
                }
            };
        } else {
            return {
                counter: valueInitial || 0,
                animate(valueStart, valueEnd, interval, duration) {
                    let step = Math.floor((valueEnd - valueStart) / (duration / interval))
                    let timer = setInterval(() => {
                        if ((this.counter + step) >= valueEnd) {
                            this.counter = valueEnd
                            clearInterval(timer);
                            timer = null;
                            return;
                        } else {
                            this.counter = this.counter + step;
                        }
                    }, interval);
                }
            };
        }
    }
</script>