<div class="w-full mx-auto flex flex-col justify-start {{with .divclass}}{{.}}{{end}}">
    {{ with .heading }}
    <div class="w-full text-center">
        <h3 class="text-2xl text-asfpurple font-bold mb-4">{{ . }}</h3>
    </div>
    {{ end }}
    <div class="relative w-full aspect-video">
        <iframe class="absolute inset-0 w-full h-full" src="https://www.youtube.com/embed/{{ .youtubeID }}"
            title="YouTube Video" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen>
        </iframe>
    </div>
    {{ with .text }}
    <div class="mt-4 prose max-w-none">
        <p>{{ . | safeHTML }}</p>
    </div>
    {{ end }}
</div>