<section data-pagefind-ignore class="clear-both flex flex-col space-y-4 w-full max-w-7xl mx-auto px-4 2xl:px-0">
  <div class="w-full">
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <iframe class="mx-auto w-fit lg:w-full min-w-[300px] max-h-none" allowpaymentrequest="" frameborder="0" height="910px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/year-round-fundraising-online?default_interval=o"></iframe>
  </div>
  <div class="max-w-md mx-auto">
    <small>
      ASF is a Washington non-profit, public benefit corporation. It is a tax-exempt
      organization under Section 501(c) (3) of the Internal Revenue Code. The federal tax ID
      number for the foundation (EIN) is 91-1263495. Donations are tax-deductible to the extent
      allowed by law.
    </small>
  </div>
</section>