{{$src := ""}}
{{$width := ""}}

{{ with .Get "width" }}
{{ $width = ( printf "&w=%s" ( string . ) ) }}
{{ else }}
{{ $width = "" }}
{{ end }}

{{ if strings.Contains (.Get "src") "http" }}
{{ $src = (.Get "src") }}
{{else}}
{{ $src = (printf "//images.weserv.nl/?url=www.anacortesschoolsfoundation.org%s%s" (.Get "src") $width) }}
{{end}}

<div class='not-prose {{ with .Get "divclass" }}{{ . }}{{ end }} {{ with .Get "width" }}w-[{{ . }}px]{{ end }}'>
  <figure class='flex flex-col justify-between {{ with .Get "figclass" }}{{ . }}{{ end }}'>
    {{ with .Get "link" }}<a href="{{ . }}">{{ end }}
      <img src='{{ $src | safeURL }}' class='rounded-lg {{ with .Get "imgclass" }}{{ . }}{{ end }}' {{ with .Get "width" }} width='{{ . }}' {{ end }} {{ with .Get "alt" }} alt='{{ . }}' {{ end }} {{ with .Get "caption" }} caption='{{ . }}' {{ end }} {{ with .Get "title" }}title="{{ . }}" {{ end }} />
      {{ if .Get "link" }}</a>{{ end }}
    {{ if or (.Get "caption") (.Get "attr") }}
    <figcaption class='{{ with .Get "capclass" }}{{ . }}{{ end }}'>
      {{ if or (.Get "caption") (.Get "attr") }}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink" }}<a href="{{ . }}"> {{ end }}
          {{ .Get "attr" }}
          {{ if .Get "attrlink" }}</a> {{ end }}
      </p> {{ end }}
    </figcaption>
    {{ end }}
  </figure>
</div>