<div class="section parallax m-0 border-top-0 light">
    <div class="mx-auto center mt-4 bottommargin" style="max-width: 640px;">
        <h2 style="color: #692b39; font-family: cinzel;">Thank you to our generous sponsors of 2022 Celebrate the Season</h2>
    </div>
    <!-- Medium to Large screens -->
    <div class="p-0">
        
        <!-- New row - Partner -->
        <div class="row sponsors-25k clearfix justify-content-center">

            <!-- Marathon Partner $25,000 -->
            <div class="col-lg-12">
                <a href="https://www.marathonpetroleum.com/Operations/Refining/Anacortes-Refinery/" target="_blank"
                    rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-marathon-bg-r.jpg') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-marathon-r.jpg&w=300" width="300" height="250"
                                alt="Marathon">
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <!-- New row Benefactor -->
        <div class="row sponsors-10k clearfix justify-content-center">
<!-- Haven Benefactor $12,345 -->          
<div class="col-12">
    <a href="https://www.raymondjames.com/havenfinancialpartners/about-us/anacortes-team" target="_blank" rel="noopener"
        style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/haven-billboard-21-foggy-rocky-stream-in-forest.jpg&w=1302') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
            <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-haven.gif&w=440" width="440" height="110"  alt="Haven Financial">
            </div>
        </div>
    </a>
</div>


            <!-- T-Bailey Benefactor $10,000 -->
            <div class="col-12">
                <a href="https://tbailey.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-bailey-bg-r.jpg&w=1652') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-bailey-r.jpg&w=400" width="400" height="100" alt="T Bailey Inc">
                        </div>
                    </div>
                </a>
            </div>
            <!-- End row-->
        </div>
        <!-- New row - Benefactor/Executive -->
        <div class="row sponsors-5k clearfix justify-content-center">
            
            <!-- Windermere Benefactor $6,000 -->          
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="https://anacortesrealestate.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-windermere-bg-R.jpg&w=811') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-windermere-r.jpg&w=275" width="275" height="95" alt="Windermere Real Estate">
                        </div>
                    </div>
                </a>
            </div>
            

            <!-- Dakota Creek Benefactor $5,000 -->          
            <div class="col-sm-12 col-md-6 col-lg-6">
                <a href="https://dakotacreek.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-dakotacreekbg-r.jpg&w=811') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-dakotacreek-r.jpg&w=275" width="275" height="95" alt="Dakota Creek Industries">
                        </div>
                    </div>
                </a>
            </div>

             <!-- Burton $4,500 -->
             <div class="col-sm-12 col-md-5 col-lg-5">
                <a href="https://www.burtonjewelers.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-burton_bg-rr.jpg&w=701') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-burton-r.jpg&w=275" width="275" height="95"
                                alt="Burton Jewelers">
                        </div>
                    </div>
                </a>
            </div>


            <!-- Transpac Exec $4,000 -->            
            <div class="col-sm-12 col-md-5 col-lg-4">
                <a href="https://www.transpacmarinas.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-transpac-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-transpac-r.jpg&w=275" width="275" height="95" alt="Transpac Marinas">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Ace $3,500 -->            
            <div class="col-sm-12 col-md-5 col-lg-4">
                <a href="https://www.aceanacortes.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-ace-bg-r.jpg&w=560') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-ace-r.jpg&w=275" width="275" height="95" alt="Ace Anacortes">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Rainier $3,000 -->            
            <div class="col-sm-12 col-md-5 col-lg-4">
                <a href="https://rainierwelding.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-rainier-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-rainier-r.jpg&w=275" width="275" height="95" alt="Rainier Welding">
                        </div>
                    </div>
                </a>
            </div>


            

        </div>

        <!-- New row - Executive -->
        <div class="row sponsors-2k clearfix justify-content-center">
        
            <!-- Sierra Pacific Advocate $2,000 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://www.spi-ind.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-sierra-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-sierra-r.jpg&w=200" width="200" height="69" alt="Sierra Pacific">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Voya Advocate $2,000 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://www.voya.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-voya-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 px-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-voya-r.jpg&w=200" width="200" height="69"
                            alt="Voya">
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- New row - Advocate -->
        <div class="row sponsors-2k clearfix justify-content-center">

            <!-- Multigen Advocate $2,000 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://multigenws.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-multigen-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-multigen2-r.jpg&w=200" width="200" height="69" alt="MultiGen Wealth">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Derek Damon Advocate $2,000 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="http://www.derekdamonortho.com/" target="_blank"
                    rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-damon2-bg.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-damon-r.jpg&w=200" width="200" alt="Derek Damon Orthodontics">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Skagit Pub Advocate $2,000 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://www.goskagit.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-skagit2_bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-skagit-r.jpg&w=200" width="200" alt="Skagit Publishing">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Proscapes Advocate $1,850 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://www.usproscapes.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-proscapes-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-proscapes-r.jpg&w=200" width="200" alt="Proscapes">
                        </div>
                    </div>
                </a>
            </div>

<!-- Guemes Honor Roll $1,500 -->
<div class="col-sm-12 col-md-4 col-lg-4">
    <a href="https://www.guemesislandresort.com/" target="_blank" rel="noopener"
        style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-guemes-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
        <div class="vertical-middle dark center">
            <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-gir-r.jpg&w=200" width="200" alt="Bank of the Pacific">
            </div>
        </div>
    </a>
</div>

            <!-- Anthonys Advocate $1,500 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://www.anthonys.com/restaurant/anthonys-at-cap-sante-marina/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-anthonys-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-anthonys-r.jpg&w=200" width="200" alt="Anthony's at Cap Sante Marina">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Landed Gentry $1,500 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <a href="https://landedgentry.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-landedgentry-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-landedgentry-r.jpg&w=200" width="200" alt="Landed Gentry">
                        </div>
                    </div>
                </a>
            </div>
            
       <!-- Trident $1,500 -->
       <div class="col-sm-12 col-md-4 col-lg-4">
        <a href="https://www.tridentseafoods.com/" target="_blank" rel="noopener"
            style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-trident-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                    <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-trident-r.jpg&w=200" width="200" alt="Trident Seafoods">
                </div>
            </div>
        </a>
    </div>

       <!-- Port of Anacortes $1,500 -->
       <div class="col-sm-12 col-md-4 col-lg-4">
        <a href="https://www.portofanacortes.com/" target="_blank" rel="noopener"
            style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-POA-bg-r.jpg&w=530') no-repeat center center; background-size: cover;">
            <div class="vertical-middle dark center">
                <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                    <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-POA-r.jpg&w=200" width="200" alt="Port of Anacortes">
                </div>
            </div>
        </a>
    </div>

    <!-- End row-->
        </div>

        <!-- New row - Honor Roll -->
        <div class="row sponsors-1k clearfix justify-content-center">

            <!-- RIS Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://risnet.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-ris_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-ris2-r.jpg&w=175" width="175" height="61" alt="RIS Insurance Services">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Quantum Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://quantumci.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-quantum-bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-quantum-r.jpg&w=175" width="175" height="61" alt="Craft Stove">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Stultz Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.remax.com/real-estate-agents/kristine-stultz-anacortes-wa/100107761" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-stultz_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-stultz-r.jpg&w=175" width="175" height="61" alt="Kristine Stultz ReMax">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Island Adventures Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://island-adventures.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-island-bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-islandadventures-r.jpg&w=175" height="61" width="175" 
                            alt="Island Adventures">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Playhouse Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.playhousedentalkids.com/" target="_blank" rel="noopener"
                style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-playhouse_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-playhouse-r.jpg&w=175" width="175"  height="61"
                            alt="Playhouse Dental">
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- HF Sinclair Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.hfsinclair.com/operations/facilities/Puget-Sound-Refinery/" target="_blank" rel="noopener"
                style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-shell-bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-sinclair-r.jpg&w=175" width="175" height="61"
                                alt="Simple Car Co">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Simple Car Co Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.simplecarco.com/" target="_blank"
                    rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-simple-bg.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-simplecar2-r.jpg&w=175" width="175" height="61"
                                alt="Simple Car Co">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Cap Sante Inn Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.capsanteinn.net/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-capsante_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-capsante-r.jpg&w=175" width="175" height="61"
                                alt="Cap Sante Inn">
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Heritage Bank Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.heritagebanknw.com/home/home" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-heritage2_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-heritage2-r.jpg&w=175" width="175" height="61"
                                alt="Heritage Bank">
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Anacortes Kayak Tours Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.anacorteskayaktours.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-akt-bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-akt-r.jpg&w=175" width="175" height="61"
                                alt="Anacortes Kayak Tours">
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Craft Stoves Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.craft-stove.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-craftstove-bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-craftstove-r.jpg&w=175" width="175" height="61"
                                alt="Craft Stoves">
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Fidalgo Creative Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://fidalgocreative.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-fidalgocreative_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2021-cts-fidalgocreative-r.jpg&w=175" width="175" height="61"
                                alt="Fidalgo Creative">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Bank of the Pacific Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://www.bankofthepacific.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-botp_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-botp.gif&w=175" width="175" height="61"
                                alt="Bank of the Pacific">
                        </div>
                    </div>
                </a>
            </div>

            <!-- Jolly Mon Honor Roll $1,000 -->
            <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://jollymoncharters.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-jollymon_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-jollymon.jpg&w=175" width="175" height="61"
                                alt="Jolly Mon Charters">
                        </div>
                    </div>
                </a>
            </div>

             <!-- Usborne Books Honor Roll $1,000 -->
             <div class="col-sm-12 col-md-3 col-lg-2">
                <a href="https://myubam.com/" target="_blank" rel="noopener"
                    style="background: url('//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/sponsor-cts-usborne_bg-r.jpg&w=367') no-repeat center center; background-size: cover;">
                    <div class="vertical-middle dark center">
                        <div class="heading-block m-0 border-0 p-2" style="text-align: center;">
                            <img src="//images.weserv.nl/?url=www.anacortesschoolsfoundation.org/uploads/2022-cts-usborne.jpg&w=175" width="175" height="61"
                                alt="Usborne Books & More">
                        </div>
                    </div>
                </a>
            </div>

            


        </div>
    </div>

</div>
    <!-- End Sponsor Block -->