<form id="custom-search" name="custom-search" method="post" action="" onsubmit="customSearchResults(); return false;">
  <p>
  <input id="custom-search-field" type="text" name="search" value="" title="Search String" placeholder="Type Search Text...">
  <!-- <input type="submit" value="Suchen"> -->
  </p>
  <div class="d-flex flex-row">
    <div class="pr-5">
      <p><em>Search Filter:</em><br>
        <input type="checkbox" name="section[]" value="site" checked="checked"> All content<br>
        <input type="checkbox" name="section[]" value="news"> News<br>
        <input type="checkbox" name="section[]" value="scholarships"> Scholarships
      </p>
    </div>
    <div>
      <p><em>Search Option:</em><br>
        <input type="radio" name="option" value="AND" checked="checked"> AND (more exclusive)<br>
        <input type="radio" name="option" value="OR"> OR (more inclusive)
    </p>
    </div>
  </div>  
</form>

<div id="custom-search-results"></div>

<script>
// CUSTOM AREA
let params = {
  json_src       : '/index.json', // for multiple sources: comma separated list of JSONarrays
  minlength      : 3,
  defaultsearch  : 'AND',
  sort_date      : 'DESC',
  autocomplete   : 1, // 0: form needs a submit button
  section_search : 1, // 1: needs checkboxes with name="section[]"
  badwords       : 'and,there,the,this,that,you', //ignore this words
  json_wait      : '<p><em>loading...</em></p>',
  json_ready     : '<p><em>Please enter a search term</em></p>',
  extern_icon    : ' (external link)', // marker for external links (optional)
  err_badstring  : '<p>Please type more characters.</p>',
  err_noresult   : '<p>Unfortunately no search result. Please try again.</p>',
  err_norequest  : '<p style="text-align: center; color:red;">The full text search is currently not available.</p>',
  err_filefailed : '<p style="text-align: center;color: red;">Search file could not be retrieved.</p>',
  res_one_item   : '<p class="text-uppercase font-weight-bold"><em>[CNT] RESULT</em></p>',
  res_more_items : '<p class="text-uppercase font-weight-bold"><em>[CNT] RESULTS</em></p>',
  res_out_top    : '<ul>',
  res_out_bottom : '</ul>',
  res_item_tpl   : '<li><a href="[URL]">[TITLE]</a><br>[DATE]:[SUMMARY]<br><em>[SECTION][TAGS]</em></li>',
  add_searchlink : '<p><a href="https://duckduckgo.com/?q=site:yourdomain.com [QUERY]" target="_blank" rel="noopener"><i>Not satisfied with the search results? External search via DuckDuckGo ...</i></a></p>'
};

// Translation of section name (optional)
let section_trans = {
  "news" : "News",
  "scholarships" : "Scholarship"
};

let searchfield_weight = {
  "title"   : 5,
  "tags"    : 3,
  "summary" : 4,
  "content" : 1
};
// CUSTOM AREA END
</script>

<script type="text/javascript" src="/js/search.js"></script>

<!-- Search system from https://discourse.gohugo.io/t/a-simple-javascript-based-full-text-search-function/29119 -->